<div class="navigation d-flex f-column m-1">
  <a routerLink="posts" routerLinkActive="active" ><i class="fa-solid fa-house fa-lg "></i></a>
  <a routerLink="**" routerLinkActive="active"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
  <a routerLink="**" routerLinkActive="active"><i class="fa-regular fa-square-plus fa-lg"></i></a>
  <a routerLink="**" routerLinkActive="active"><i class="fa-regular fa-circle-play fa-lg"></i></a>
  <a routerLink="user" routerLinkActive="active"><i class="fa-solid fa-circle-user fa-lg"></i></a>
</div>
